.route__title {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
  margin: 0 0 3rem;
  align-self: flex-end;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width:1024px) {
  .route__title {
    font-size: 4.5rem;
    line-height: 106%;
  }
}

@media screen and (max-width:768px) {
  .route__title {
    font-size: 2.625rem;
    line-height: 110%;
  }
}

@media screen and (max-width:640px) {
  .route__title {
    font-size: 2rem;
    line-height: 109%;
    margin-bottom: 2rem;
  }
}