.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    gap: 12px;
  }
}