.footer__name {
  display: flex;
  margin: 0;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width:760px) {
  .footer__name {
    line-height: 1;
  }
}