.cover__subtitle {
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin: 32px 0 0;
  display: flex;
  text-align: center;
  align-self: center;
}

@media screen and (max-width:410px) {
  .cover__subtitle {
    font-size: 4.375vw;
    line-height: 1.14;
    width: 90%;
    margin-top: 16px;
  }
}