.cover__subtitle {
  width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  margin: 0;
  display: flex;
  align-self: center;
  position: absolute;
  left: calc((100% - 360px)/2);
  bottom: calc((100% - 250px)/2);
}

@media screen and (max-width:420px) {
  .cover__subtitle {
    font-size: 4.375vw;
    line-height: 1.14;
    width: 90%;
    left: calc((100% - 90%)/2);
    bottom: calc((100% - 134px)/2);
  }
}