.footer__link {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.12;
  color: white;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .footer__link {
    padding-bottom: 32px;
    font-size: 1.6rem;
    line-height: 100%;
  }
}