  .intro {
    background-color: #2A2C2F;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
  }
  
  @media screen and (max-width: 1024px) {
    .intro {
      width: 90.625%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      width: 100%;
    }
  }