.cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1184px;
  position: relative;
  z-index: 1;
  margin: 92px 0;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0.3;
  transition: opacity 350ms ease;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width:1184px) {
  .cover {
    min-height: 740px;
  }
}