.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  position: relative;
  z-index: 1;
  margin: 92px auto;
  max-width: 1184px;
  padding: 0;
  height: 740px;
}

.cover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  opacity: 0.3;
  transition: opacity 350ms ease;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width:1280px) {
  .cover {
    width: 92.5%;
  }
}

@media screen and (max-width:1024px) {
  .cover {
    width: 100%;
    height: 62.5vw;
  }
}