.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  display: flex;
  text-align: center;
  align-self: center;
  color: white;
  margin: 0;
  position: absolute;
  left: calc((100% - 560px)/2);
  top: calc((100% - 250px)/2);
}

@media screen and (max-width:700px) {
  .cover__title {
    font-size: 10vw;
    line-height: 1.09;
    width: 90%;
    left: calc((100% - 90%)/2);
    top: calc((100% - 134px)/2);
  }
}