.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  display: flex;
  text-align: center;
  align-self: center;
  color: white;
  margin: 0;
}

@media screen and (max-width:700px) {
  .cover__title {
    font-size: 10vw;
    line-height: 1.09;
    width: 90%;
  }
}