.route__link-title {
  color: #AAAAAA;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 100%;
  max-width: 456px;
  margin: 0 0 12px;
}

@media screen and (max-width:768px) {
  .route__link-title {
    width: 45.83%;
  }
}

@media screen and (max-width:320px) {
  .route__link-title {
    width: 90%;
  }
}